<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <title>Node Chat App</title>
</head>

<body>
  <h2 class="text-center">Awesome Chat App</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Enter Username</label>
          <div class="row">

            <div class="col-md-8">
              <input id="username" type="text" class="form-control" />
            </div>
            <div class="col-md-4">
              <button id="send_username" type="button" class="btn btn-default">Change username</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container feedback-container">
    <section id="chatroom">
      <div id="feedback"></div>
    </section>
  </div>



  <div class="container input-container">
    <section id="input_zone">
      <input id="message" type="text" />
      <button id="send_message" type="button">Send</button>
    </section>
  </div>

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="chat.js"></script>
</body>

</html>