body {
    padding: 2em 0em;
}

section#chatroom {
    height: 60vh;
    overflow: auto;
}

section#input_zone {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    height: 50px;
}

.feedback-container {
    border: 1px solid grey !important;
}

.input-container {
    padding: 0 !important;
    border: 1px solid grey;
    border-top: 0;
}

input#message {
    display: flex;
    flex: 2;
    border: 0;
    background: transparent;
    height: 100%;
    padding: 0px 25px;
}

button#send_message {
    display: flex;
    padding: 2px 35px;
    background: transparent;
    border: 0;
    color: #0084ff;
}

button#send_message:focus,
input#message:focus {
    outline: none;
}

div.message {
    overflow-wrap: break-word;
    width: 180px;
    margin: 20px 30px;
    border-radius: 15px;
    background: #0084ff;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    font-family: arial;
    position: relative;
}

div.message.them {
    background: #f1f0f0;
    color: #1d2129;
}

div.message.them:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #f1f0f0;
    border-right: 15px solid transparent;
    border-top: 15px solid #f1f0f0;
    border-bottom: 15px solid transparent;
    right: -16px;
    top: 0px;
}

div.message.me:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #0084ff;
    border-top: 15px solid #0084ff;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
}

.me-container {
    padding: 10px 0px;
}

.me-container .username {
    padding-left: 15px;
}

.them-container {
    display: flex;
    flex: 1;
    flex-direction: row-reverse
}

.them-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.them-group span {
    padding-right: 15px;
    display: inline-block;
    padding-top: 20px;
}